{template 'common/header'}
<ul class="nav nav-tabs">
    <li class="active"><a class="btn-lg" href="">日签列表</a></li>
    <li><a class="btn-lg" href="{php echo $this->createWebUrl('DaySignMess',array('op'=>'add'))}">添加日签</a></li>
</ul>
<div class="main">
    <div class="category">
        <div class="panel panel-default">
            <div class="panel-heading">
                日签列表(<span style="color: #FF0000">可在本页面管理所有日签数据</span>)
            </div>
            <div class="panel-body table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th width="100">ID</th>
                        <th width="180">标题</th>
                        <th width="400">内容</th>
                        <th width="90">图片</th>
                        <th width="200">指定日期</th>
                        <th width="240" style="text-align: center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {loop $daySignList $index $row}
                    <tr>
                        <td>{$row['sign_id']}</td>
                        <td>{$row['sign_title']}</td>
                        <td style="overflow: hidden" title="{$row['sign_content']}">
                            <div class="" style="overflow: hidden;    word-break: break-all;text-overflow: ellipsis;white-space: nowrap;width: 245px;">{$row['sign_content']}</div>
                        </td>
                        <td><img style="height: 40px;width: 40px" src="{$row['sign_img']}"></td>
                        <td>{$row['display_time']}</td>
                        <td width="180">
                            <a href="{php echo $this->createWebUrl('daySignMess', array('op' => 'update','id'=>$row['sign_id']))}" class="btn btn-primary btn-sm" style="padding: 4px 8px;"> 编辑</a>
                            <a href="{php echo $this->createWebUrl('daySignMess', array('op' => 'delete','id'=>$row['sign_id']))}" class="btn btn-danger btn-sm" style="padding: 4px 8px;"> 删除</a>
                        </td>
                    </tr>
                    {/loop}
                    </tbody>
                </table>
                {$pager}
            </div>
        </div>
    </div>
</div>
{template 'common/footer'}